
/* TODO: Move Blog classes to a seperate stylesheet */
/* TODO: Move Project  classes to a seperate stylesheet */
/* TODO:  Import Blog and Project classes into this index file */

/* general styles  */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.title
{
  font-size: 15px;
}



.blog-header
{
  font-size:20px;
  font-weight: 900;
  position: relative;
  left:68px;
}

.blog-title
{
  font-size:30px;
  font-weight: 900;
  position: relative;
  left:207px;

/*    font-size: 15px;
    font-weight: 500;
    position: relative;
    left: -133px;
}*/
}

.blog-description
{
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 122px;
    top: 32px;

}


.Post
{
  border:solid 1px black;
  width: 250px;
  height: 150px;
  margin: 10px;
  display: inline-grid;
}


/* Post styles */

.Post-category
{
  font-size: 15px;
}

.Post-body_header
{
  padding: 1px;
  position: relative;
  left: -0px;
}

.Post-body_Title
{
   font-size: 30px;
}

.Post-body_content
{
  position: relative;
  top: 38px;
  padding:10px;
}

.Post-body_Subtitle
{
  font-size: 15px;

}

.Project-title
{
  font-weight: 900;
}


